.imgc{
    position:absolute;
    height:650px;
    width:900px;
    left: 12%;
    top:10%;
    
}
.imgz{
    
    position:absolute;
    height: 650px;
    width: 900px;
    left:25%;
    top:18%;}